body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(157,255,0,1) 0%, rgba(208,208,208,1) 0%, rgba(76,171,145,1) 0%);
}
.btn1 {
    background-color: rgb(206, 11, 11);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}
.btn1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.btn {
    background-color: rgb(28, 170, 28);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}
.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 700px;
    height: 500px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(157,255,0,1) 0%, rgba(208,208,208,1) 0%, rgba(76,171,145,1) 0%, rgba(24,101,190,1) 0%, rgba(182,208,172,1) 0%);
    border-radius: 20px;
 
}

